<a href="https://colab.research.google.com/github/saifulrijal-ds/python-tutorial/blob/master/Python_Seaborn_Tuorial_Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Isi notebook ini merupakan pembelajaran pribadi berdasarkan tutorial dari [Elite Data Science: The Ultimate Python Seaborn Tutorial: Gotta Catch ‘Em All](https://elitedatascience.com/python-seaborn-tutorial)

In [1]:
# Menghubungkan dengan google drive

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Pandas digunakan untuk mengelola dataset
import pandas as pd

# Matplotlib untuk penyesuaian tambahan
from matplotlib import pyplot as plt
%matplotlib notebook

# Seaborn untuk plotting dan styling
import seaborn as sns

In [0]:
# import dataset
path = '/content/drive/My Drive/Colab Notebooks/Pokemon.csv'
df = pd.read_csv(path, index_col=0, encoding='unicode_escape')
# encoding='unicode_escape' digunakan karena terjadi error akibat encoding

In [15]:
df.head()

         Name Type 1  Type 2  Total  ...  Sp. Def  Speed  Stage  Legendary
#                                    ...
1   Bulbasaur  Grass  Poison    318  ...       65     45      1      False
2     Ivysaur  Grass  Poison    405  ...       80     60      2      False
3    Venusaur  Grass  Poison    525  ...      100     80      3      False
4  Charmander   Fire     NaN    309  ...       50     65      1      False
5  Charmeleon   Fire     NaN    405  ...       65     80      2      False

[5 rows x 12 columns]